


/* Define CSS variables for colors */
:root {
    --item-background-color: #30251a;
    --header-color: #e2e2e2;
    --border-color: #ffffff1a;
    --background-color: #2c2219;
    --text-color: #d4d4d4;
    --paragraph-color: #f6f6f6;
    --primary-color: #806144;
    --secondary-color: #ffb3b0;
    --additional-color: #30251a;
    --linkhover: #cd9d70;

    --small-border-radius: 0.25rem;
    --normal-border-radius: 0.3rem;
    --medium-border-radius: 0.5rem;
    --border-radius: 1rem;

  }


  
  /* Define CSS variables for font size */
  :root {
    --font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --font-size-xsmall: 10px;
    --font-size-xxsmall: 13px;
    --font-size-small: 14px;
    --font-size-medium: 15px;
    --font-size-normal: 16px;
    --font-size-large: 17px;
    --font-size-xlarge: 20px;
    --font-size-xxlarge: 23px;
    --font-size-etraxlarge: 25px;

    --more-thick-font-weight: 600;
    --thick-font-weight: 500;
    --noraml-font-weight: 400;
  }



/* Фоновое изображение */
body {
  background-image: url('https://i.imgur.com/tcPsQ0w.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
}